WsdlRepository/Service References/WsdlServiceReference/BSMHubService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:bsobj="http://objects.types.bs.ws.bs.sportradar.com/" xmlns:basobj="http://objects.types.bas.ws.bs.sportradar.com/" xmlns:tns="http://messages.types.bsm.ws.bs.sportradar.com/" xmlns:bsm="http://messages.types.bs.ws.bs.sportradar.com/" xmlns:basm="http://messages.types.bas.ws.bs.sportradar.com/" elementFormDefault="qualified" targetNamespace="http://messages.types.bsm.ws.bs.sportradar.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="/BSMHub/services/BSMHubService?xsd=BettingAccountServerTypesMessages" namespace="http://messages.types.bas.ws.bs.sportradar.com/" />
  <xs:import schemaLocation="/BSMHub/services/BSMHubService?xsd=BettingAccountServerTypesObjects" namespace="http://objects.types.bas.ws.bs.sportradar.com/" />
  <xs:import schemaLocation="/BSMHub/services/BSMHubService?xsd=BettingServerTypesMessages" namespace="http://messages.types.bs.ws.bs.sportradar.com/" />
  <xs:import schemaLocation="/BSMHub/services/BSMHubService?xsd=BettingServerTypesObjects" namespace="http://objects.types.bs.ws.bs.sportradar.com/" />
  <xs:element name="transactionId" nillable="true" type="xs:string" />
  <xs:element name="GetStationCashHistory" type="tns:GetStationCashHistory" />
  <xs:element name="GetStationCashHistoryResponse" type="tns:GetStationCashHistoryResponse" />
  <xs:element name="LoadPaymentNote" type="tns:LoadPaymentNote" />
  <xs:element name="LoadPaymentNoteResponse" type="tns:LoadPaymentNoteResponse" />
  <xs:element name="GetBalance" type="tns:GetBalance" />
  <xs:element name="GetBalanceResponse" type="tns:GetBalanceResponse" />
  <xs:element name="WithdrawByPaymentNote" type="tns:WithdrawByPaymentNote" />
  <xs:element name="WithdrawByPaymentNoteResponse" type="tns:WithdrawByPaymentNoteResponse" />
  <xs:element name="LoadCreditNote" type="tns:LoadCreditNote" />
  <xs:element name="LoadCreditNoteResponse" type="tns:LoadCreditNoteResponse" />
  <xs:element name="CheckForEmptyBoxAndPayments" type="tns:CheckForEmptyBoxAndPayments" />
  <xs:element name="CheckForEmptyBoxAndPaymentsResponse" type="tns:CheckForEmptyBoxAndPaymentsResponse" />
  <xs:element name="GetAllOperatorsWithShifts" type="tns:GetAllOperatorsWithShifts" />
  <xs:element name="GetAllOperatorsWithShiftsResponse" type="tns:GetAllOperatorsWithShiftsResponse" />
  <xs:element name="SearchForOperators" type="tns:SearchForOperators" />
  <xs:element name="SearchForOperatorsResponse" type="tns:SearchForOperatorsResponse" />
  <xs:element name="GetProfitAccountingCheckpoint" type="tns:GetProfitAccountingCheckpoint" />
  <xs:element name="GetProfitAccountingCheckpointResponse" type="tns:GetProfitAccountingCheckpointResponse" />
  <xs:element name="GetMatchSorting" type="tns:GetMatchSorting" />
  <xs:element name="GetMatchSortingResponse" type="tns:GetMatchSortingResponse" />
  <xs:element name="GetProfitAccountingReport" type="tns:GetProfitAccountingReport" />
  <xs:element name="GetProfitAccountingReportResponse" type="tns:GetProfitAccountingReportResponse" />
  <xs:element name="CreateProfitAccountingCheckpoint" type="tns:CreateProfitAccountingCheckpoint" />
  <xs:element name="CreateProfitAccountingCheckpointResponse" type="tns:CreateProfitAccountingCheckpointResponse" />
  <xs:element name="UpdateOperator" type="tns:UpdateOperator" />
  <xs:element name="UpdateOperatorResponse" type="tns:UpdateOperatorResponse" />
  <xs:element name="GetLiveStreamFeed" type="tns:GetLiveStreamFeed" />
  <xs:element name="GetLiveStreamFeedResponse" type="tns:GetLiveStreamFeedResponse" />
  <xs:element name="GetStationPlugins" type="tns:Plugin" />
  <xs:element name="GetStationPluginsResponse" type="tns:PluginResponse" />
  <xs:element name="GetStationPaymentFlowData" type="tns:GetStationPaymentFlowData" />
  <xs:element name="GetStationPaymentFlowDataResponse" type="tns:GetStationPaymentFlowDataResponse" />
  <xs:element name="AddPaymentFlow" type="tns:AddPaymentFlow" />
  <xs:element name="AddPaymentFlowResponse" type="tns:AddPaymentFlowResponse" />
  <xs:element name="RegisterOperator" type="tns:RegisterOperator" />
  <xs:element name="RegisterOperatorResponse" type="tns:RegisterOperatorResponse" />
  <xs:element name="SaveTicket" type="tns:SaveTicket" />
  <xs:element name="SaveTicketResponse" type="tns:SaveTicketResponse" />
  <xs:element name="UnbindIdCard" type="tns:UnbindIdCard" />
  <xs:element name="UnbindIdCardResponse" type="tns:UnbindIdCardResponse" />
  <xs:element name="BindOperatorIdCard" type="tns:BindOperatorIdCard" />
  <xs:element name="BindOperatorIdCardResponse" type="tns:BindOperatorIdCardResponse" />
  <xs:element name="UpdateIdCard" type="tns:UpdateIdCard" />
  <xs:element name="UpdateIdCardResponse" type="tns:UpdateIdCardResponse" />
  <xs:element name="CreateCheckpoint" type="tns:CreateCheckpoint" />
  <xs:element name="CreateCheckpointResponse" type="tns:CreateCheckpointResponse" />
  <xs:element name="CreateOperatorShiftCheckpoint" type="tns:CreateOperatorShiftCheckpoint" />
  <xs:element name="CreateOperatorShiftCheckpointResponse" type="tns:CreateOperatorShiftCheckpointResponse" />
  <xs:element name="GetOperatorShiftReport" type="tns:GetOperatorShiftReport" />
  <xs:element name="GetOperatorShiftReportResponse" type="tns:GetOperatorShiftReportResponse" />
  <xs:element name="GetOperatorShiftCheckpoints" type="tns:GetOperatorShiftCheckpoints" />
  <xs:element name="GetOperatorShiftCheckpointsResponse" type="tns:GetOperatorShiftCheckpointsResponse" />
  <xs:element name="ProduceOperatorSettlement" type="tns:ProduceOperatorSettlement" />
  <xs:element name="ProduceOperatorSettlementResponse" type="tns:ProduceOperatorSettlementResponse" />
  <xs:element name="GetSettlementHistory" type="tns:GetSettlementHistory" />
  <xs:element name="GetSettlementHistoryResponse" type="tns:GetSettlementHistoryResponse" />
  <xs:element name="GetSettlementHistoryDetails" type="tns:GetSettlementHistoryDetails" />
  <xs:element name="GetSettlementHistoryDetailsResponse" type="tns:GetSettlementHistoryDetailsResponse" />
  <xs:element name="GetStationBalanceCheckpoints" type="tns:GetStationBalanceCheckpoints" />
  <xs:element name="GetStationBalanceCheckpointsResponse" type="tns:GetStationBalanceCheckpointsResponse" />
  <xs:element name="IssueCreditToStationBalance" type="tns:IssueCreditToStationBalance" />
  <xs:element name="IssueCreditToStationBalanceResponse" type="tns:IssueCreditToStationBalanceResponse" />
  <xs:element name="RegisterAccount" type="tns:RegisterAccount" />
  <xs:element name="RegisterAccountResponse" type="basm:RegisterAccountResponse" />
  <xs:element name="OpenSession" type="tns:OpenSession" />
  <xs:element name="OpenSessionResponse" type="tns:OpenSessionResponse" />
  <xs:element name="CloseSession" type="tns:CloseSession" />
  <xs:element name="CloseSessionResponse" type="tns:CloseSessionResponse" />
  <xs:element name="GetStationByVerificationNumber" type="tns:GetStationByVerificationNumber" />
  <xs:element name="GetStationByVerificationNumberResponse" type="tns:GetStationByVerificationNumberResponse" />
  <xs:element name="ChangeOperatorIDCardPin" type="tns:ChangeOperatorIDCardPin" />
  <xs:element name="ChangeOperatorIDCardPinResponse" type="tns:ChangeOperatorIDCardPinResponse" />
  <xs:element name="LoginWithIdCard" type="tns:LoginWithIdCard" />
  <xs:element name="LoginWithIdCardResponse" type="tns:LoginWithIdCardResponse" />
  <xs:element name="StoreTicket" type="tns:StoreTicket" />
  <xs:element name="StoreTicketResponse" type="tns:StoreTicketResponse" />
  <xs:element name="GetStationProperties" type="tns:GetStationProperties" />
  <xs:element name="GetStationPropertiesResponse" type="tns:GetStationPropertiesResponse" />
  <xs:element name="UpdatePlayedTickets" type="tns:PlayedTickets" />
  <xs:element name="UpdatePlayedTicketsResponse" type="tns:PlayedTicketsResponse" />
  <xs:element name="History" type="tns:History" />
  <xs:element name="HistoryResponse" type="tns:HistoryResponse" />
  <xs:element name="LoadStoredTickets" type="tns:LoadStoredTickets" />
  <xs:element name="LoadStoredTicketsResponse" type="tns:LoadStoredTicketsResponse" />
  <xs:element name="PluginProtocol" type="tns:PluginProtocol" />
  <xs:element name="PluginProtocolResponse" type="tns:PluginProtocolResponse" />
  <xs:element name="Deposit" type="tns:Deposit" />
  <xs:element name="DepositResponse" type="tns:DepositResponse" />
  <xs:element name="RegisterCash" type="tns:RegisterCash" />
  <xs:element name="RegisterCashResponse" type="tns:RegisterCashResponse" />
  <xs:element name="GetAccountingRecieptData" type="tns:GetAccountingRecieptData" />
  <xs:element name="GetAccountingRecieptDataResponse" type="tns:GetAccountingRecieptDataResponse" />
  <xs:element name="GetIdCardInfo" type="tns:GetIdCardInfo" />
  <xs:element name="GetIdCardInfoResponse" type="tns:GetIdCardInfoResponse" />
  <xs:element name="ValidateIdCard" type="tns:ValidateIdCard" />
  <xs:element name="ValidateIdCardResponse" type="tns:ValidateIdCardResponse" />
  <xs:element name="GetAllRoles" type="tns:GetAllRoles" />
  <xs:element name="GetAllRolesResponse" type="tns:GetAllRolesResponse" />
  <xs:element name="DepositByCreditNote" type="tns:DepositByCreditNote" />
  <xs:element name="DepositByCreditNoteResponse" type="tns:DepositByCreditNoteResponse" />
  <xs:element name="DepositByTicket" type="tns:DepositByTicket" />
  <xs:element name="DepositByTicketResponse" type="tns:DepositByTicketResponse" />
  <xs:element name="PayCreditNote" type="tns:PayCreditNote" />
  <xs:element name="PayCreditNoteResponse" type="tns:PayCreditNoteResponse" />
  <xs:element name="LoadTicket" type="tns:LoadTicket" />
  <xs:element name="LoadTicketResponse" type="tns:LoadTicketResponse" />
  <xs:element name="SaveCreditNote" type="tns:SaveCreditNote" />
  <xs:element name="SaveCreditNoteResponse" type="tns:SaveCreditNoteResponse" />
  <xs:element name="AccountSearch" type="tns:AccountSearch" />
  <xs:element name="AccountSearchResponse" type="tns:AccountSearchResponse" />
  <xs:element name="HubServiceException">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:int" />
        <xs:element name="message" type="xs:string" />
        <xs:element minOccurs="0" name="parameters" nillable="true" type="tns:parameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLogData" type="tns:ExportLogData" />
  <xs:element name="ExportLogDataResponse" type="tns:ExportLogDataResponse" />
  <xs:complexType name="AccountSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="confidence_factor" nillable="true" type="basobj:amountInterval" />
      <xs:element minOccurs="0" name="turnover" nillable="true" type="basobj:amountInterval" />
      <xs:element minOccurs="0" name="bets_count" nillable="true" type="basobj:betsCountInterval" />
      <xs:element minOccurs="0" name="created_at" nillable="true" type="basobj:dateInterval" />
      <xs:element minOccurs="0" name="profit_loss" nillable="true" type="basobj:amountInterval" />
      <xs:element minOccurs="1" name="searchRequest" type="basobj:searchRequest" />
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="0" name="additional_info" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountSearchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="accounts" type="basobj:accounts" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadTicket">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TicketNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TicketCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="StationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DisplayLanguage" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Culture" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AdditionalDetail" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoadTicketResult" nillable="true" type="bsobj:TicketWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBalance">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="1" name="reserved" type="xs:decimal" />
      <xs:element minOccurs="0" name="confidenceFactor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationCashHistory">
    <xs:sequence>
      <xs:element minOccurs="1" name="station_number" type="xs:string" />
      <xs:element minOccurs="0" name="date_from" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_to" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationCashHistoryResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="shifts" type="tns:ArrayOfCashOperationtData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadPaymentNote">
    <xs:sequence>
      <xs:element minOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadPaymentNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="account" type="basobj:profileForm" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WithdrawByPaymentNote">
    <xs:sequence>
      <xs:element minOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WithdrawByPaymentNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="1" default="false" name="withdrawedFromBalance" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadCreditNote">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadCreditNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="creditNote" nillable="true" type="bsobj:CreditNoteWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaveCreditNote">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaveCreditNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="saveCreditNoteResult" type="xs:boolean" />
      <xs:element minOccurs="1" name="payoutType" type="bsobj:PayoutType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayCreditNote">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationUsername" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayCreditNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="payCreditNoteResult" type="xs:boolean" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositByTicket">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" name="ticketNumber" type="xs:string" />
      <xs:element minOccurs="1" name="ticketCode" type="xs:string" />
      <xs:element minOccurs="0" name="creditNoteNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditNoteCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositByTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositByCreditNote">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" name="code" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositByCreditNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAllRoles">
    <xs:sequence>
      <xs:element minOccurs="1" name="operator_id" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAllRolesResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="roles" type="tns:ArrayOfRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="role" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="1" name="login_to_terminal" type="xs:int" />
      <xs:element minOccurs="1" name="login_to_webadmin" type="xs:int" />
      <xs:element minOccurs="1" name="hightlight_color" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="operator_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" name="param" type="basobj:valueForm" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="0" name="verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Deposit">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="is_real_cash" type="xs:boolean" />
      <xs:element minOccurs="0" name="deposit_from_cashpool" type="xs:boolean" />
      <xs:element minOccurs="0" name="cashAcceptorType" nillable="true" type="bsobj:CashAcceptorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" nillable="true" type="basobj:accountBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAccountingRecieptData">
    <xs:sequence>
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAccountingRecieptDataResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="accountingReciept" type="bsobj:AccountingRecieptWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterCash">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="cashAcceptorType" type="bsobj:CashAcceptorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterCashResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="uid" type="basobj:uid" />
        <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
        <xs:element minOccurs="1" name="comment" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="starDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ChangeOperatorIDCardPin">
    <xs:sequence>
      <xs:element minOccurs="1" name="operator_id" type="xs:int" />
      <xs:element minOccurs="0" name="pin">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>4-char strings only</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeOperatorIDCardPinResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="pin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginWithIdCard">
    <xs:sequence>
      <xs:element minOccurs="1" name="station_id" type="xs:string" />
      <xs:element minOccurs="1" name="card_number" type="xs:string" />
      <xs:element minOccurs="0" name="is_shop_session" type="xs:boolean" />
      <xs:element minOccurs="1" name="pin">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>4-char strings only</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginWithIdCardResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="session" type="tns:SessionWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CloseSession">
    <xs:sequence>
      <xs:element minOccurs="1" name="session_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CloseSessionResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="session_closed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OpenSession">
    <xs:sequence>
      <xs:element minOccurs="1" name="station_id" type="xs:string" />
      <xs:element minOccurs="1" name="anonymous" type="xs:boolean" />
      <xs:element minOccurs="1" name="username" type="xs:string" />
      <xs:element minOccurs="1" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="is_shop_session" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OpenSessionResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="session" type="tns:SessionWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="roleId">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Administrator" />
      <xs:enumeration value="Franchisor owner" />
      <xs:enumeration value="Location owner" />
      <xs:enumeration value="Operator" />
      <xs:enumeration value="Up franchisor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetCasheOuts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasheOutsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="cashOuts" type="tns:ArrayOfCashOutItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPermissions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="permission" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCashOutItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cashOutItem" nillable="true" type="tns:CashOutItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashOutItem">
    <xs:sequence>
      <xs:element minOccurs="1" name="cashOutId" type="xs:int" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="comment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterOperator">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="1" name="surname" type="xs:string" />
      <xs:element minOccurs="1" name="username" type="xs:string" />
      <xs:element minOccurs="1" name="password" type="xs:string" />
      <xs:element minOccurs="1" name="default_language" type="xs:string" />
      <xs:element minOccurs="1" name="role_id" type="xs:int" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterOperatorResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="operator_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnbindIdCard">
    <xs:sequence>
      <xs:element minOccurs="1" name="card_number" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnbindIdCardResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BindOperatorIdCard">
    <xs:sequence>
      <xs:element minOccurs="1" name="operator_id" type="xs:int" />
      <xs:element minOccurs="0" name="number" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BindOperatorIdCardResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="cardNumber" type="xs:string" />
      <xs:element minOccurs="1" name="pin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateIdCard">
    <xs:sequence>
      <xs:element minOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="registration_status" type="xs:string" />
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="account_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateIdCardResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSettlementHistory">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSettlementHistoryResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="settlements" type="tns:ArrayOfSettlementHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSettlementHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="settlement" nillable="true" type="tns:SettlementHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementHistory">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:long" />
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="settlement_saldo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSettlementHistoryDetails">
    <xs:sequence>
      <xs:element minOccurs="1" name="settlementId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetSettlementHistoryDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="shifts" type="tns:ArrayOfSettlementHistoryDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSettlementHistoryDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="shift" nillable="true" type="tns:SettlementHistoryDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementHistoryDetail">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:long" />
      <xs:element minOccurs="1" name="shiftStartDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="shiftEndDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="emptyBoxTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="emptyBoxTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="paymentTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="paymentTotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateCheckpoint">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="operator_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateCheckpointResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="created_at" type="xs:string" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProduceOperatorSettlement">
    <xs:sequence>
      <xs:element minOccurs="1" name="operatorId" type="xs:int" />
      <xs:element minOccurs="1" name="currentOperatorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProduceOperatorSettlementResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="currentDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="operatorFirstName" type="xs:string" />
      <xs:element minOccurs="1" name="operatorLastName" type="xs:string" />
      <xs:element minOccurs="1" name="operatorId" type="xs:int" />
      <xs:element minOccurs="1" name="franchisorName" type="xs:string" />
      <xs:element minOccurs="1" name="locationName" type="xs:string" />
      <xs:element minOccurs="1" name="LocationOwnerName" type="xs:string" />
      <xs:element minOccurs="1" name="settlementPeriodStartDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="settlementPeriodEndDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="checkpoints" type="tns:ArrayOfOperatorCheckpointsForSlip" />
      <xs:element minOccurs="1" name="total" type="tns:TotalSettlementSection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalSettlementSection">
    <xs:sequence>
      <xs:element minOccurs="1" name="emptyBoxTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="emptyBoxTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="creditTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="creditTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="paymentTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="paymentTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="balance" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOperatorCheckpointsForSlip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="checkpoints" nillable="true" type="tns:CheckpointSlip" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CheckpointSlip">
    <xs:sequence>
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="emptyBoxTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="emptyBoxTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="creditTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="creditTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="paymentTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="paymentTotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOperatorShiftCheckpoints">
    <xs:sequence>
      <xs:element minOccurs="1" name="locationId" type="xs:int" />
      <xs:element minOccurs="1" name="operatorId" type="xs:int" />
      <xs:element minOccurs="1" default="false" name="isFilterByOperator" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOperatorShiftCheckpointsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="checkpoints" type="tns:ArraOfOperatorShiftCheckpoints" />
      <xs:element minOccurs="1" name="balance" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArraOfOperatorShiftCheckpoints">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="checkpoint" nillable="true" type="tns:OperatorShiftCheckpoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatorShiftCheckpoint">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="1" name="operatorId" type="xs:int" />
      <xs:element minOccurs="1" name="operatorName" type="xs:string" />
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="emptyBoxTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="emptyBoxTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="payoutTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="payoutTotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOperatorShiftReport">
    <xs:sequence>
      <xs:element minOccurs="1" name="locationId" type="xs:int" />
      <xs:element minOccurs="1" name="operator_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOperatorShiftReportResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="operatorShiftData" type="tns:OperatorShiftData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateOperatorShiftCheckpoint">
    <xs:sequence>
      <xs:element minOccurs="1" name="locationId" type="xs:int" />
      <xs:element minOccurs="1" name="operator_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateOperatorShiftCheckpointResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="operatorShiftData" type="tns:OperatorShiftData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationBalanceCheckpoints">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="startIndex" type="xs:int" />
      <xs:element minOccurs="1" name="pageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationBalanceCheckpointsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="checkpoints" type="tns:ArrayOfCheckpoints" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCheckpoints">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="checkpoint" nillable="true" type="tns:StationBalanceCheckpoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationBalanceCheckpoint">
    <xs:sequence>
      <xs:element minOccurs="1" name="pay_in" type="xs:decimal" />
      <xs:element minOccurs="1" name="pay_out" type="xs:decimal" />
      <xs:element minOccurs="1" name="credit" type="xs:decimal" />
      <xs:element minOccurs="1" name="operator_username" type="xs:string" />
      <xs:element minOccurs="1" name="created_at" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssueCreditToStationBalance">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssueCreditToStationBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Plugin">
    <xs:sequence>
      <xs:element minOccurs="1" name="franchisorId" type="xs:integer" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="stationVersion" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" default="false" name="sendContent" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PluginResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="plugins" type="tns:ArrayOfPlugins" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPlugins">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="plugin" nillable="true" type="tns:PluginElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PluginElement">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:integer" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" name="pluginVersion" type="tns:PluginVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PluginVersion">
    <xs:sequence>
      <xs:element minOccurs="1" name="versionCode" type="xs:string" />
      <xs:element minOccurs="1" name="updatedAt" type="xs:dateTime" />
      <xs:element minOccurs="1" name="createdAt" type="xs:dateTime" />
      <xs:element minOccurs="1" name="file" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="1" name="stationVersion" type="xs:double" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationByVerificationNumber">
    <xs:sequence>
      <xs:element minOccurs="1" name="verificationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationByVerificationNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaveTicket">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" name="ticketData" type="bsobj:TicketWS" />
      <xs:element minOccurs="1" name="isOffLineTicket" type="xs:boolean" />
      <xs:element minOccurs="1" name="station_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaveTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
      <xs:element minOccurs="0" name="tipLock" nillable="true" type="bsobj:ArrayOflong" />
      <xs:element minOccurs="0" name="tournamentLock" nillable="true" type="bsobj:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationProperties">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="StationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ip" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="teamViewerID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="peripheralInfo" type="bsobj:PeripheralInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="drivers" type="bsobj:ArrayOfDriverInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationPropertiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BsConfiguration" nillable="true" type="bsobj:StationWS" />
      <xs:element minOccurs="0" name="BasConfiguration" nillable="true" type="basobj:valueForm" />
      <xs:element minOccurs="0" name="BsmHubConfiguration" nillable="true" type="tns:BsmHubConfigurationResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BsmHubConfigurationResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="anonymousBetting" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Allow anonymous users by tickets (true - allow ,
						false - disallow)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="accountingService" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Is accounting service enabled (true - yes , false
						- no)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlayedTickets">
    <xs:sequence>
      <xs:element minOccurs="1" name="tickets" type="basobj:playedTickets" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlayedTicketsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StoreTicket">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" name="ticketData" type="bsobj:TicketWS" />
      <xs:element minOccurs="1" name="pin">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>4-char strings only</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="isOffLineTicket" type="xs:boolean" />
      <xs:element minOccurs="1" name="station_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StoreTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="History">
    <xs:sequence>
      <xs:element minOccurs="1" name="session_id" type="xs:string" />
      <xs:element minOccurs="1" name="type" type="xs:string" />
      <xs:element minOccurs="1" name="uid" type="xs:string" />
      <xs:element minOccurs="1" name="start_index" type="xs:integer" />
      <xs:element minOccurs="1" name="end_index" type="xs:integer" />
      <xs:element minOccurs="1" default="false" name="isFilterTrash" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadStoredTickets">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
      <xs:element minOccurs="1" name="station_id" type="xs:string" />
      <xs:element minOccurs="1" name="ticket_number" type="xs:string" />
      <xs:element minOccurs="1" name="pin">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>4-char strings only</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="code">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>4-char strings only</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTickets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ticket" nillable="true" type="bsobj:TicketWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadStoredTicketsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="tickets" nillable="true" type="tns:ArrayOfTickets" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddPaymentFlow">
    <xs:sequence>
      <xs:element minOccurs="1" name="paymentFlowData" nillable="true" type="tns:PaymentFlowData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddPaymentFlowResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationPaymentFlowData">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="start" type="xs:int" />
      <xs:element minOccurs="1" name="limit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationPaymentFlowDataResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="totalStationCash" type="xs:decimal" />
      <xs:element minOccurs="1" name="paymentBalance" type="xs:decimal" />
      <xs:element minOccurs="1" name="locationCashPosition" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalLocationBalance" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="list" nillable="true" type="tns:ArrayOfPaymentFlowData" />
      <xs:element minOccurs="1" name="total" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPaymentFlowData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="paymentFlowData" nillable="true" type="tns:PaymentFlowData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentFlowData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="type" type="xs:string" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="createdAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" name="operatorName" type="xs:string" />
      <xs:element minOccurs="1" name="comment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PluginProtocol">
    <xs:sequence>
      <xs:element minOccurs="1" name="plugin_id" type="xs:string" />
      <xs:element minOccurs="1" name="request" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PluginProtocolResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="response" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProfitAccountingReport">
    <xs:sequence>
      <xs:element minOccurs="1" name="locationId" type="xs:int" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProfitAccountingReportResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="checkpoint" type="tns:ProfitAccountingCheckpoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetMatchSorting">
    <xs:sequence>
      <xs:element minOccurs="1" name="matchStr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetMatchSortingResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="jsonStr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateProfitAccountingCheckpoint">
    <xs:sequence>
      <xs:element minOccurs="1" name="locationId" type="xs:int" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateProfitAccountingCheckpointResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="checkpoint" type="tns:ProfitAccountingCheckpoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProfitAccountingCheckpoint">
    <xs:sequence>
      <xs:element minOccurs="1" name="objectId" type="xs:int" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="start" type="xs:int" />
      <xs:element minOccurs="1" name="limit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProfitAccountingCheckpointResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="profitAccountings" type="tns:ArrayOfProfitAccountingCheckpoints" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfProfitAccountingCheckpoints">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="profitAccounting" nillable="true" type="tns:ProfitAccountingCheckpoint" />
      <xs:element minOccurs="1" name="total" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfitAccountingCheckpoint">
    <xs:sequence>
      <xs:element minOccurs="1" name="general" nillable="true" type="tns:ProfitAccountingCheckpointGeneralInfo" />
      <xs:element minOccurs="1" name="location" nillable="true" type="tns:ProfitAccounting" />
      <xs:element minOccurs="1" name="station" nillable="true" type="tns:ProfitAccounting" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfitAccountingCheckpointGeneralInfo">
    <xs:sequence>
      <xs:element minOccurs="1" name="franchisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" name="startDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfitAccounting">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" name="totalCashIn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalCashOut" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalStake" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalWinnings" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="tax" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="basis" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="fixStakeCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="flexCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="shopOwnerShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="franchisorShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="subFranchisorShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="mainOwnerShare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalCreditToShop" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalPaymentToShop" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" name="cashTransfer" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CheckForEmptyBoxAndPayments">
    <xs:sequence>
      <xs:element minOccurs="1" name="locationId" type="xs:int" />
      <xs:element minOccurs="1" name="operator_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CheckForEmptyBoxAndPaymentsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAllOperatorsWithShifts">
    <xs:sequence>
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAllOperatorsWithShiftsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="operators" type="tns:ArrayOfOperatorsWithShifts" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOperatorsWithShifts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operator" nillable="true" type="tns:OperatorWithShift" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatorWithShift">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="1" name="balance" type="xs:decimal" />
      <xs:element minOccurs="1" name="surname" type="xs:string" />
      <xs:element minOccurs="1" name="firstname" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchForOperators">
    <xs:sequence>
      <xs:element minOccurs="1" name="criterias" type="tns:OperatorCriterias" />
      <xs:element minOccurs="1" name="uid" type="basobj:uid" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatorCriterias">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="pinEnabled" nillable="true" type="xs:byte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchForOperatorsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="operators" type="tns:ArrayOfOperators" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOperators">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operator" nillable="true" type="tns:Operator" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Operator">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="1" name="surname" type="xs:string" />
      <xs:element minOccurs="1" name="username" type="xs:string" />
      <xs:element minOccurs="1" name="email" type="xs:string" />
      <xs:element minOccurs="1" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="franchisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasActiveCard" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="card_pin_enabled" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateOperator">
    <xs:sequence>
      <xs:element minOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="1" name="criterias" type="tns:OperatorCriterias" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateOperatorResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="isSuccessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLiveStreamFeed">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetLiveStreamFeedResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="urlData" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="User" />
      <xs:enumeration value="Operator" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GetIdCardInfo">
    <xs:sequence>
      <xs:element minOccurs="1" name="account_id" type="xs:int" />
      <xs:element minOccurs="0" name="role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetIdCardInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="idCardInfos" type="tns:ArrayOfIdCardInfoItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateIdCard">
    <xs:sequence>
      <xs:element minOccurs="1" name="cardNumber" type="xs:string" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="0" name="is_shop_session" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateIdCardResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="result" type="xs:boolean" />
      <xs:element minOccurs="0" name="session" type="tns:SessionWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SessionWS">
    <xs:sequence>
      <xs:element minOccurs="1" name="session_id" type="xs:string" />
      <xs:element minOccurs="1" name="account_id" type="xs:int" />
      <xs:element minOccurs="1" name="username" type="xs:string" />
      <xs:element minOccurs="1" name="default_language" type="xs:string" />
      <xs:element minOccurs="0" name="permissions" type="tns:ArrayOfPermissions" />
      <xs:element minOccurs="0" name="roleName" type="xs:string" />
      <xs:element minOccurs="0" name="highlight_color" type="xs:string" />
      <xs:element minOccurs="0" name="balance" type="basobj:accountBalance" />
      <xs:element minOccurs="0" name="role_id" type="xs:int" />
      <xs:element minOccurs="0" name="card_pin_enabled" type="xs:int" />
      <xs:element minOccurs="0" name="hasActiveCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password_reminder" type="xs:boolean" />
      <xs:element minOccurs="0" name="force_change_password" type="xs:boolean" />
      <xs:element minOccurs="0" name="accountSystemSettings" type="basobj:accountSystemSettingsWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfIdCardInfoItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="idCardInfoItem" nillable="true" type="tns:IdCardInfoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdCardInfoItem">
    <xs:sequence>
      <xs:element minOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="registration_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" name="active" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportLogData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="logZipName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="logZipData" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="1" name="stationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportLogDataResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="uploadResult" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parameter" nillable="true" type="tns:parameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameter">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCashOperationtData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cashOperationData" nillable="true" type="tns:CashOperationtData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashOperationtData">
    <xs:sequence>
      <xs:element name="operation_type" type="xs:string" />
      <xs:element name="amount" type="xs:decimal" />
      <xs:element name="operator_name" type="xs:string" />
      <xs:element name="created_at" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatorShiftData">
    <xs:sequence>
      <xs:element minOccurs="1" name="operatorName" type="xs:string" />
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="emptyBoxTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="emptyBoxTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="payoutTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="payoutTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="balance" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>