WsdlRepository/Service References/WsdlServiceReference/BSMHubService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://messages.types.bs.ws.bs.sportradar.com/" xmlns:bsmobj="http://objects.types.bs.ws.bs.sportradar.com/" xmlns:bsobj="http://objects.types.bs.ws.bs.sportradar.com/" elementFormDefault="qualified" targetNamespace="http://messages.types.bs.ws.bs.sportradar.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="/BSMHub/services/BSMHubService?xsd=BettingServerTypesObjects" namespace="http://objects.types.bs.ws.bs.sportradar.com/" />
  <xs:element name="CanOperatorLoginOnStation" type="tns:CanOperatorLoginOnStation" />
  <xs:element name="CanOperatorLoginOnStationResponse" type="tns:CanOperatorLoginOnStationResponse" />
  <xs:element name="GetStationCashInfo" type="tns:GetStationCashInfo" />
  <xs:element name="GetStationCashInfoResponse" type="tns:GetStationCashInfoResponse" />
  <xs:element name="GetCashInfo" type="tns:GetCashInfo" />
  <xs:element name="GetCashInfoResponse" type="tns:GetCashInfoResponse" />
  <xs:element name="RevokeStationCert" type="tns:RevokeStationCert" />
  <xs:element name="RevokeStationCertResponse" type="tns:RevokeStationCertResponse" />
  <xs:element name="ExportLogData" type="tns:ExportLogData" />
  <xs:element name="ExportLogDataResponse" type="tns:ExportLogDataResponse" />
  <xs:element name="StationEvent" type="tns:StationEvent" />
  <xs:element name="StationEventResponse" type="tns:StationEventResponse" />
  <xs:element name="CashPaymentFromLocation" type="tns:CashPaymentFromLocation" />
  <xs:element name="CashPaymentFromLocationResponse" type="tns:CashPaymentFromLocationResponse" />
  <xs:element name="DepositByCreditNote" type="tns:DepositByCreditNote" />
  <xs:element name="DepositByCreditNoteResponse" type="tns:DepositByCreditNoteResponse" />
  <xs:element name="CancelDepositByCreditNote" type="tns:CancelDepositByCreditNote" />
  <xs:element name="CancelDepositByCreditNoteResponse" type="tns:CancelDepositByCreditNoteResponse" />
  <xs:element name="DepositByTicket" type="tns:DepositByTicket" />
  <xs:element name="DepositByTicketResponse" type="tns:DepositByTicketResponse" />
  <xs:element name="CancelDepositByTicket" type="tns:CancelDepositByTicket" />
  <xs:element name="CancelDepositByTicketResponse" type="tns:CancelDepositByTicketResponse" />
  <xs:element name="PayCreditNote" type="tns:PayCreditNote" />
  <xs:element name="PayCreditNoteResponse" type="tns:PayCreditNoteResponse" />
  <xs:element name="SaveCreditNote" type="tns:SaveCreditNote" />
  <xs:element name="SaveCreditNoteResponse" type="tns:SaveCreditNoteResponse" />
  <xs:element name="LoadCreditNote" type="tns:LoadCreditNote" />
  <xs:element name="LoadCreditNoteResponse" type="tns:LoadCreditNoteResponse" />
  <xs:element name="GetBusinessProperties" type="tns:GetBusinessProperties" />
  <xs:element name="GetBusinessPropertiesResponse" type="tns:GetBusinessPropertiesResponse" />
  <xs:element name="GetStationSettings" type="tns:GetStationSettings" />
  <xs:element name="GetStationSettingsResponse" type="tns:GetStationSettingsResponse" />
  <xs:element name="UpdateLocalization" type="tns:UpdateLocalization" />
  <xs:element name="UpdateLocalizationResponse" type="tns:UpdateLocalizationResponse" />
  <xs:element name="GetLatestConfidenceFactorsUpdate" type="tns:GetLatestConfidenceFactorsUpdate" />
  <xs:element name="GetLatestConfidenceFactorsUpdateResponse" type="tns:GetLatestConfidenceFactorsUpdateResponse" />
  <xs:element name="UpdateLine" type="tns:UpdateLine" />
  <xs:element name="UpdateLineResponse" type="tns:UpdateLineResponse" />
  <xs:element name="UpdateLineConfig" type="tns:UpdateLineConfig" />
  <xs:element name="UpdateLineConfigResponse" type="tns:UpdateLineConfigResponse" />
  <xs:element name="UpdateFlags" type="tns:UpdateFlags" />
  <xs:element name="UpdateFlagsResponse" type="tns:UpdateFlagsResponse" />
  <xs:element name="UpdateStatistics" type="tns:UpdateStatistics" />
  <xs:element name="UpdateStatisticsResponse" type="tns:UpdateStatisticsResponse" />
  <xs:element name="SaveTicket" type="tns:SaveTicket" />
  <xs:element name="SaveTicketResponse" type="tns:SaveTicketResponse" />
  <xs:element name="LoadTicket" type="tns:LoadTicket" />
  <xs:element name="LoadTicketResponse" type="tns:LoadTicketResponse" />
  <xs:element name="GetLockedOffer" type="tns:GetLockedOffer" />
  <xs:element name="GetLockedOfferResponse" type="tns:GetLockedOfferResponse" />
  <xs:element name="WriteRemoteErrorToLog" type="tns:WriteRemoteErrorToLog" />
  <xs:element name="WriteRemoteErrorToLogResponse" type="tns:WriteRemoteErrorToLogResponse" />
  <xs:element name="CancelTicket" type="tns:CancelTicket" />
  <xs:element name="CancelTicketResponse" type="tns:CancelTicketResponse" />
  <xs:element name="PayTicket" type="tns:PayTicket" />
  <xs:element name="PayTicketResponse" type="tns:PayTicketResponse" />
  <xs:element name="DeleteOfferEnable" type="tns:DeleteOfferEnable" />
  <xs:element name="DeleteOfferEnableResponse" type="tns:DeleteOfferEnableResponse" />
  <xs:element name="GetOutletMessages" type="tns:GetOutletMessages" />
  <xs:element name="GetOutletMessagesResponse" type="tns:GetOutletMessagesResponse" />
  <xs:element name="GetTicketStatus" type="tns:GetTicketStatus" />
  <xs:element name="GetTicketStatusResponse" type="tns:GetTicketStatusResponse" />
  <xs:element name="TicketCanBePaid" type="tns:TicketCanBePaid" />
  <xs:element name="TicketCanBePaidResponse" type="tns:TicketCanBePaidResponse" />
  <xs:element name="TicketCanBeCanceled" type="tns:TicketCanBeCanceled" />
  <xs:element name="TicketCanBeCanceledResponse" type="tns:TicketCanBeCanceledResponse" />
  <xs:element name="LoadShortTickets" type="tns:LoadShortTickets" />
  <xs:element name="LoadShortTicketsResponse" type="tns:LoadShortTicketsResponse" />
  <xs:element name="SetStationAttribute" type="tns:SetStationAttribute" />
  <xs:element name="SetStationAttributeResponse" type="tns:SetStationAttributeResponse" />
  <xs:element name="SendStationLog" type="tns:SendStationLog" />
  <xs:element name="SendStationLogResponse" type="tns:SendStationLogResponse" />
  <xs:element name="GetLastAccountingDateByType" type="tns:GetLastAccountingDateByType" />
  <xs:element name="GetLastAccountingDateByTypeResponse" type="tns:GetLastAccountingDateByTypeResponse" />
  <xs:element name="GetEmptyBoxesAndCreditNotes" type="tns:GetEmptyBoxesAndCreditNotes" />
  <xs:element name="GetEmptyBoxesAndCreditNotesResponse" type="tns:GetEmptyBoxesAndCreditNotesResponse" />
  <xs:element name="GetFirstEmptyBox" type="tns:GetFirstEmptyBox" />
  <xs:element name="GetFirstEmptyBoxResponse" type="tns:GetFirstEmptyBoxResponse" />
  <xs:element name="RegisterCash" type="tns:RegisterCash" />
  <xs:element name="RegisterCashResponse" type="tns:RegisterCashResponse" />
  <xs:element name="GetCasheOuts" type="tns:GetCasheOuts" />
  <xs:element name="GetCasheOutsResponse" type="tns:GetCasheOutsResponse" />
  <xs:element name="GetTicketAccountingData" type="tns:GetTicketAccountingData" />
  <xs:element name="GetTicketAccountingDataResponse" type="tns:GetTicketAccountingDataResponse" />
  <xs:element name="GetBettingBalance" type="tns:GetBettingBalance" />
  <xs:element name="GetBettingBalanceResponse" type="tns:GetBettingBalanceResponse" />
  <xs:element name="GetMatchSorting" type="tns:GetMatchSorting" />
  <xs:element name="GetMatchSortingResponse" type="tns:GetMatchSortingResponse" />
  <xs:element name="GetStationResource" type="tns:GetStationResource" />
  <xs:element name="GetStationResourceResponse" type="tns:GetStationResourceResponse" />
  <xs:element name="GetContentManagementData" type="tns:GetContentManagementData" />
  <xs:element name="GetContentManagementDataResponse" type="tns:GetContentManagementDataResponse" />
  <xs:element name="BsServiceException">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:int" />
        <xs:element name="message" type="xs:string" />
        <xs:element minOccurs="0" name="parameters" nillable="true" type="bsobj:parameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetBusinessProperties">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBusinessPropertiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="lastCreditNoteNumber" type="xs:long" />
      <xs:element minOccurs="0" name="lastTicketNumber" type="xs:long" />
      <xs:element minOccurs="0" name="lastTransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="termninalSessionId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationSettings">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ip" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="teamViewerID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="peripheralInfo" type="bsobj:PeripheralInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="drivers" type="bsobj:ArrayOfDriverInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationSettingsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetStationSettingsResult" nillable="true" type="bsobj:StationWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateLocalization">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastUpdateFileId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateLocalizationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdateLocalizationResult" nillable="true" type="bsobj:ArrayOfUpdateRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLatestConfidenceFactorsUpdate">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLatestConfidenceFactorsUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="bsobj:ArrayOfUpdateRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateLine">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastUpdateFileId" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastUpdate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateLineResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdateLineResult" nillable="true" type="bsobj:ArrayOfUpdateRecord" />
      <xs:element minOccurs="0" name="total" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateLineConfig">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastUpdateFileId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateLineConfigResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdateLineConfigResult" nillable="true" type="bsobj:ArrayOfUpdateRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateFlags">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastUpdateFileId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateFlagsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdateFlagsResult" nillable="true" type="bsobj:ArrayOfUpdateRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateStatistics">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastUpdateFileId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateStatisticsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UpdateStatisticsResult" nillable="true" type="bsobj:ArrayOfUpdateRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBettingBalance">
    <xs:sequence>
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetBettingBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="totalStake" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalWin" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationResource">
    <xs:sequence>
      <xs:element minOccurs="1" name="resourceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationResourceResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="data" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetContentManagementData">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetContentManagementDataResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="jsonStr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetMatchSorting">
    <xs:sequence>
      <xs:element minOccurs="1" name="matchStr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetMatchSortingResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="jsonStr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTicketAccountingData">
    <xs:sequence>
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="0" name="locationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTicketAccountingDataResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="accountingReciept" type="bsobj:AccountingRecieptWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaveTicket">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ticketData" type="bsobj:TicketWS" />
      <xs:element minOccurs="0" name="anonymousTicket" type="xs:boolean" />
      <xs:element minOccurs="0" name="userConfidenceFactor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="isOffLineTicket" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaveTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="result" type="xs:int" />
      <xs:element minOccurs="0" name="tipLock" nillable="true" type="bsobj:ArrayOflong" />
      <xs:element minOccurs="0" name="tournamentLock" nillable="true" type="bsobj:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadTicket">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TicketNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TicketCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="StationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DisplayLanguage" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Culture" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AdditionalDetail" type="xs:boolean" />
      <xs:element minOccurs="1" name="bind_users_to_franchisors" type="xs:boolean" />
      <xs:element minOccurs="1" name="bind_users_to_locations" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoadTicketResult" nillable="true" type="bsobj:TicketWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTicketStatus">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ticketNbr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTicketStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getTicketStatusResult" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLockedOffer">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLockedOfferResponse">
    <xs:sequence>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipLock" nillable="true" type="bsobj:ArrayOflong" />
        <xs:element minOccurs="0" name="tournamentLock" nillable="true" type="bsobj:ArrayOflong" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WriteRemoteErrorToLog">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="errorMsg" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="criticality" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="objectID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="groupCriteria" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WriteRemoteErrorToLogResponse">
    <xs:sequence>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteRemoteErrorToLogResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelTicket">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ticketNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationUsername" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelTicketResponse">
    <xs:sequence>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelTicketResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadCreditNote">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="bind_users_to_franchisors" type="xs:boolean" />
      <xs:element minOccurs="1" name="bind_users_to_locations" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadCreditNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="creditNote" nillable="true" type="bsobj:CreditNoteWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelDepositByTicket">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelDepositByTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="cancelDepositByTicketResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositByTicket">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ticketNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ticketCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="isAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="creditNoteNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditNoteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" name="bind_users_to_franchisors" type="xs:boolean" />
      <xs:element minOccurs="1" name="bind_users_to_locations" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositByTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="1" name="payoutType" type="bsobj:PayoutType" />
      <xs:element minOccurs="1" name="creditNotePayedWhileOperation" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelDepositByCreditNote">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelDepositByCreditNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="cancelDepositByCreditNoteResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositByCreditNote">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="depositedToAccount" type="xs:boolean" />
      <xs:element minOccurs="1" name="bind_users_to_franchisors" type="xs:boolean" />
      <xs:element minOccurs="1" name="bind_users_to_locations" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositByCreditNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="1" name="payoutType" type="bsobj:PayoutType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayCreditNote">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationUsername" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="bind_users_to_franchisors" type="xs:boolean" />
      <xs:element minOccurs="1" name="bind_users_to_locations" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayCreditNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="payCreditNoteResult" type="xs:boolean" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="1" name="creditNotePayedWhileOperation" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaveCreditNote">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaveCreditNoteResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="saveCreditNoteResult" type="xs:boolean" />
      <xs:element minOccurs="1" name="payoutType" type="bsobj:PayoutType" />
      <xs:element minOccurs="1" name="creditNotePayedWhileOperation" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayTicket">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ticketNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="payedAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationUsername" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="bind_users_to_franchisors" type="xs:boolean" />
      <xs:element minOccurs="1" name="bind_users_to_locations" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayTicketResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="PayTicketResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteOfferEnable">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="offerEnableOID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteOfferEnableResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="deleteOfferEnableResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOutletMessages">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="lastSyncTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOutletMessagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetOutletMessagesResult" nillable="true" type="bsobj:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetOfferEnable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="StationNumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="DateFrom" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="DateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOfferEnableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Nbt.StationService.Nbt.WSClasses" minOccurs="0" name="SetOfferEnableResult" nillable="true" type="tns:ArrayOfOfferEnableWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOfferEnableWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfferEnableWS" nillable="true" type="tns:OfferEnableWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfferEnableWS" nillable="true" type="tns:ArrayOfOfferEnableWS" />
  <xs:complexType name="OfferEnableWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsTransmitted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OfferEnableID" type="xs:int" />
      <xs:element minOccurs="0" name="StationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SvrOddID" type="xs:int" />
      <xs:element minOccurs="0" name="SvrTournamentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfferEnableWS" nillable="true" type="tns:OfferEnableWS" />
  <xs:complexType name="ArrayOfUpdateRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpdateRecord" nillable="true" type="tns:UpdateRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpdateRecord" nillable="true" type="tns:ArrayOfUpdateRecord" />
  <xs:complexType name="UpdateRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSyncCacheId" type="xs:long" />
      <xs:element minOccurs="0" name="DataSyncCacheType" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateRecord" nillable="true" type="tns:UpdateRecord" />
  <xs:complexType name="TicketCanBePaid">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ticketNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketCanBePaidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ticketCanBePaidResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketCanBeCanceled">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ticketNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketCanBeCanceledResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ticketCanBeCanceledResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadShortTickets">
    <xs:sequence>
      <xs:element minOccurs="0" name="ticketNumbers" nillable="true" type="bsobj:ArrayOfTicketNumbers" />
      <xs:element minOccurs="1" maxOccurs="1" name="searchDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="winnerOnly" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="expiredWinnerOnly" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadShortTicketsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="loadShortTicketsResult" nillable="true" type="bsobj:ArrayOfShortTicketWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetOfferDisable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="OfferDisableData" type="bsobj:OfferDisableWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOfferDisableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOfferDisableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashDrawerValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="StationNumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashDrawerValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Nbt.StationService.Nbt.WSClasses" minOccurs="0" name="GetCashDrawerValuesResult" nillable="true" type="bsobj:ArrayOfCashResultWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCashDrawerBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Stationnumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CashDTyp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCashDrawerBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCashDrawerBalanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLastCashResultValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Stationnumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CashDTyp" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLastCashResultValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLastCashResultValueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCashDrawerValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CashResultData" type="bsobj:ArrayOfCashResultWS" />
        <xs:element minOccurs="1" maxOccurs="1" name="StationNumber" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCashDrawerValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCashDrawerValuesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SetStationAttribute">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationnumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="attribute" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SetStationAttributeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="SetStationAttributeResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendStationLog">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationLog" type="bsobj:ArrayOfstring" />
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendStationLogResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="SendStationLogResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLastAccountingDateByType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="typ" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetLastAccountingDateByTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetLastAccountingDateByTypeResult" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetFirstEmptyBox">
    <xs:sequence>
      <xs:element minOccurs="1" name="operator_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetFirstEmptyBoxResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEmptyBoxesAndCreditNotes">
    <xs:sequence>
      <xs:element minOccurs="1" name="locationId" type="xs:int" />
      <xs:element minOccurs="1" name="operator_id" type="xs:int" />
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetEmptyBoxesAndCreditNotesResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="emptyBoxDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="emptyBoxTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="emptyBoxTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="creditNoteTotalNumber" type="xs:int" />
      <xs:element minOccurs="1" name="creditNoteTotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterCash">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="cashAcceptorType" type="bsobj:CashAcceptorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterCashResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
        <xs:element minOccurs="1" name="comment" type="xs:string" />
        <xs:element minOccurs="1" name="operatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="starDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetCasheOuts">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCasheOutsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="cashOuts" type="tns:ArrayOfCashOutItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCashOutItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cashOutItem" nillable="true" type="tns:CashOutItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashOutItem">
    <xs:sequence>
      <xs:element minOccurs="1" name="cashOutId" type="xs:int" />
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="1" name="comment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashPaymentFromLocation">
    <xs:sequence>
      <xs:element minOccurs="1" name="amount" type="xs:decimal" />
      <xs:element minOccurs="1" name="station" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashPaymentFromLocationResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationEvent">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationNumber" type="xs:string" />
      <xs:element minOccurs="1" name="stationEventType" type="bsobj:StationEventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationEventResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CanOperatorLoginOnStation">
    <xs:sequence>
      <xs:element minOccurs="1" name="station" type="xs:string" />
      <xs:element minOccurs="1" name="franchisorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CanOperatorLoginOnStationResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationCashInfo">
    <xs:sequence>
      <xs:element minOccurs="1" name="station" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetStationCashInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="totalAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="billsAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="billsCount" type="xs:int" />
      <xs:element minOccurs="1" name="coinsAmount" type="xs:decimal" />
      <xs:element minOccurs="1" name="coinsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCashInfo">
    <xs:sequence>
      <xs:element minOccurs="1" name="station" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCashInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="stationCash" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalStationCash" type="xs:decimal" />
      <xs:element minOccurs="1" name="locationCashPosition" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalLocationCash" type="xs:decimal" />
      <xs:element minOccurs="1" name="totalLocationPaymentBalance" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RevokeStationCert">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="stationNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RevokeStationCertResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportLogData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="logZipFileName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="stationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportLogDataResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="uploadResult" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>